* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.btn-1{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(78, 71, 255);
}

/* header section */
.header{
    max-width: 1440px;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    margin: 0 auto;
    border: 2px dashed lightgray;
}

main{
    background-color: rgb(245, 248, 255);
}

/* navbar section */

.navbar{
display: flex;
justify-content: space-between;
max-width: 1140px;
margin: 0 auto;
align-items: center;
padding: 50px 0;
}

.logo{
    font-size: 64px;
    color: rgb(78, 71, 255);
}
/* banner section */

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 125px 150px 250px 150px;
}


/* action section */
.action-container{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
    
}

.action-container > img{
    border-radius: 24px;
}

.action-des{
    gap: 36px;
}

.action-des > h2{
    font-size: 48px;
    margin: 28px 0;
}

.action-des > p{
    font-size: 26px;
    margin-bottom: 28px;
}

/* active section */

.productive-users{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 60px;
    background-color: rgba(146, 144, 202, 0.5);
    border-radius: 24px;
    margin-bottom: 120px;

}

.productive-users > h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 36px;
}

.users-reactions{
    display: flex;
    justify-content: space-between;
}

.users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    border-radius: 15px;
}

.count{
    font-size: 56px;
    font-weight: 700;
    color: rgb(78, 71, 255);
}

.count-text{
    font-size: 26px;
    font-weight: 500;
}

/* comment section */
.users-comment{
    max-width: 1140px;
    margin: 0 auto 120px;
}

.comment-headings{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
}

.comment-card-container{
    display: flex;
    justify-content: space-between;
}

.comment-card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    text-align: start;
    gap: 24px;
    width: 300px;
    height: 220px;
    padding: 16px;
    background-color: white;
    border-radius: 25px;
}

.card-heading{
    font-size: 26px;
}

.comment-des{
    font-size: 26px;
    color: rgba(128, 128, 128, 0.5)
}

.commenter-div{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.commenter-div > img{
    border-radius: 50%;
}

.commenter-div > div{
    font-size: large;
}


/* focus section */
.focus{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 48px;
    width: 840px;
    height: 580px;
    padding: 70px 150px;
    /* border: 1px dashed rgba(128, 128, 128, 0.5); */
    margin: 0 auto 120px; 
    gap: 28px;   
}

.focus > h2{
    font-size: 36px;
    font-weight: bold;
}

.focus > button{
    margin: 10px 0;
}

.focus > div > img{
    border-radius: 24px;
} 

